@charset "utf-8";
/* CSS Document */


		.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
		.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
		#contact .ui-icon { background:  url(file:///C|/xampp/htdocs/mobile/css/glyphish-icons/112-group.png) 50% 50% no-repeat; background-size: 24px 22px; }
		#chat .ui-icon { background:  url(file:///C|/xampp/htdocs/mobile/css/glyphish-icons/09-chat-2.png) 50% 50% no-repeat; background-size: 24px 22px; }
		#me .ui-icon { background:  url(file:///C|/xampp/htdocs/mobile/css/glyphish-icons/111-user.png) 50% 50% no-repeat; background-size: 24px 22px; }
		
 